<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Glowing Tile Madness</title>
    <link href="style.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div id="content">
      {{{body}}}
    </div>
    <script>
      var require = {
        'deps' : ['main'],
        'paths': {
          'main'    : 'scripts/app',
          'app'     : 'scripts/mar_app',
          'backbone': '/vendor/backbone/backbone',
          'marionette': '/vendor/marionette/lib/core/amd/backbone.marionette',
          'backbone.babysitter': '/vendor/backbone.babysitter/lib/amd/backbone.babysitter',
          'backbone.wreqr': '/vendor/backbone.wreqr/lib/amd/backbone.wreqr',
          'handlebars': '/vendor/handlebars-1.3.0',
          'jquery': '/vendor/jquery/dist/jquery',
          'underscore': '/vendor/underscore/underscore',
        },
        shim: {
          'backbone': { 
            'exports': 'Backbone'
          },
          'handlebars': {
            'exports': 'Handlebars'
          }
        }
      };
    </script>
    <script type="text/javascript" src="/vendor/requirejs/require.js"></script>
  </body>
</html>

