<header>
  <h1>Glowing tile party time!</h1>
  <p>Personalize your board by selecting colors for tiles within your board. On selection a tile will change to a new color and on re-selection it will turn white again. A particular color will only be shown once per tile unless you clear the board so be careful of resetting your nice picks!</p>
</header>
<div id="board"></div>

<script id="board-control-temp" type="text/x-handlebars-template">
  <div id="board-region">
  </div>
</script>

<script id="board-temp" type="text/x-handlebars-template">
  <button class="save">Save</button>
  <button class="reset">Reset</button>
  <table class="rows"></div>
</script>

<script id="tile-temp" type="text/x-handlebars-template">
</script>